.nav
    ul.nav__menu
        each item in ['Обо мне','Работы', 'Контакты']
            li.nav__menu-item
                a(href="#").nav__menu-link=item
.show-btn
    a(href="#").show
        span.show-menu
.header
    .header-text
        h1.author-name Богдан Пономаренко
        h3.author-prof  front-end разработчик
