// =======================
// Tools/Functions
// =======================

// Convert px to em
@function pxtoem($target, $context){
    @return ($target/$context)+0em;
}

// Convert em to px
@function emtopx($target, $context){
    @return ($target*$context)+0px;
}

@mixin textCenterAbs () {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}