// =======================
// Tools/Variables
// =======================

/* Font variables */

$main-font:  'open_sansbold', Arial, sans-serif;

/* Color variables */

$color-link: #fff;
$color-link-hover: lighten($color-link, 40%);

$dark-blue: #34444f;
$white: #fff;