// =======================
// Layout/Header
// =======================

.header {
  width: 100%;
  height: 100%;
  background: url(/img/header-bg.png);
  background-size: cover;
  text-align: center;
  display: table;
}

.header-text {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: $white;
}

.author-name {
  font-size: 35px;
  padding: 7px;
  border: 5px solid $white;
  width: 90%;
  margin: auto;
}

.author-prof {
  font-family: 'open_sanssemibold';
  font-size: 12px;
  letter-spacing: 0.4em;
}

@media only screen and (min-width: 768px),
                 only screen and (min-width: 400px) and (orientation: landscape) {
  .author-name {
    padding: 0 7px;
    font-size: 48px;
  }
  .author-prof {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .author-name {
    width: 723px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .header-text {
    width: 960px;
    margin: auto;
  }
  .author-name {
    font-size: 60px;
    width: 780px;
  }
}
